/* now we see differents events which are mostly in usage. */
/* .box{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: aqua;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* practice question: */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s linear;
}
.container{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.heading{
    padding: 5px 10px;
    display: flex;
    text-align: center;
}

.toggleBtn{
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 5px black;
}